.header_728x90{
	margin:0 auto;
	max-width:728px;
	display: block;
	clear: both;
}
.bottom_728x90{
	@extend .header_728x90;
	width:100%;
	clear:both;
}
.content_300x250{
	@extend .header_728x90;
	max-width:300px;
	margin:{bottom:10px;}
	clear: both;
}
.sidebar_300x250{
	@extend .header_728x90;
	max-width:300px;
	margin:{bottom:10px;}
}
.header_970x250{
	@extend .header_728x90;
	max-width:970px;
	padding:{top:10px;}
}