body {
	background: $white; 
}
.wrapper {
	@include span-columns(12);
	@include omega();
	@include pad(0);
	z-index: 10;
	background: $white;
	max-width: initial;
	.contentAll {
		@include span-columns(12);
		@include omega();
		max-width: 1280px;
		padding:{top:10px;left:10px;bottom:0;right:10px;}
		@include media($notebook) {
			@include pad(0);
			@include outer-container(80%);
			margin: 0 auto !important;
			float: none;
		}
		.body-sidebar {
			@include span-columns(12);
			@include omega();
			margin:{top:10px;}
			@include media($notebook) {
				@include span-columns(8);
				@include omega();
				margin:{top:20px;}
			}
			@include media($desktop) {
				@include span-columns(9);
				@include omega();
				margin:{top:20px;}
			}
			.section-loop {
				@include span-columns(12);
				margin:{bottom:20px;right:0;}
				@include media($notebook) {
					margin:{bottom:30px;}
				}
			}
		}
	}
	&.move-content {
		@include transition(all 0.3s ease-in-out);
		@include transform(translateX(-300px));
	}
	&.move-content-out {
		@include transition(all 0.3s ease-in-out);
		@include transform(translateX(0px)); 
	}
	.wrapper-focus-out {
		@include span-columns(12);
		@include transition(all 1s ease-in-out);
		height: 100%;
		position: absolute;
		opacity: 0.2;
		background: $black;
		z-index: 11;
		display: none;
		&.open-focus-out {
			display: block;
			opacity: 0.6;
		}
		@include media($notebook) {
			display: none;
		}
	}
}
.imagen-post {
	background-position:center;
	background-size:cover;
}
.imagen-contentpost {
	@include span-columns(12);
	@include omega();
	overflow:hidden;
	.imagen-post {
		@include span-columns(12);
		@include omega();
		height: inherit;
		background-size:cover; 
		background-position:center;
		@include transition(all 1s ease);
		&:hover {
			@include transform(scale(1.2));
			-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
			filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
		}
	}	
}
.category-post {
	@include span-columns(12);
	@include omega();
	font:{family:$primary_font;weight:bold;size:1.2em;}
	display: inline-block;
	text:{transform:uppercase;}
	color:$green-logo;
}
.title-post {
	@include span-columns(12);
	@include omega();
	margin:{top:5px;bottom:0px;}
	color:$black;
	font:{size:1.7em;}
	line-height: 28px;
	font:{family:$regular_font;}
	@include media($notebook) {
		font:{size:2em;}
	}
}
.date-post {
	@include span-columns(12);
	@include omega();
	color:$gray_1; 
	font:{family:$regular_font;style:italic;size:1em;}
}
.social-share {
	display: inline-block;
	margin:{left:5px;}
	ul {
		margin:0;
		padding:0;
		li {
			list-style: none;
			display: inline-block;
			margin:0 5px;
			a {
				color: $green-logo;
				font:{size:1.2em;}
			}
			&.whatsapp {
				@include media($notebook) {
					display: none;
				}
			}
		}
	}
}
.title-bg {
	@include span-columns(12);
	@include omega();
	text:{align:center;}
	position: relative;
	height:50px;
	@include media($notebook){
		margin:{bottom:10px;}
	}	
	.line-bg {
		@include span-columns(12);
		@include omega();
		height: 50%;
		border-bottom:1px solid $black;
		position: absolute;
		z-index: 1;
		@include media($notebook){
			width: 30%;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
	.title-section {
		font:{family:$regular_font;size: 2em;style: italic;}
		position: relative;
		z-index: 10;
		background:$white;
		width: initial;
		display: inline-block;
		padding: 0 15px;
   		margin: 10px 0;
	}
}
.btn-read-more {
    display: inline-block;
    padding: {top:15px;right: 38px;bottom:5px;left:38px;}
    margin:{top:20px;right:0;bottom:5px;left:0;} 
    text:{transform: uppercase;decoration: none;align:center;}
    outline: none;  
    display: inline-block;
    position: relative;
    a {
    	font:{weight:bold;size: 0.75em;}
    	color:$white;
    }
    &:before {
    	content: '';
	    position: absolute;
	    width: 70%;
	    height: 0px;
	    border-bottom: 2px solid $white;
	    bottom: 1px;
	    @include transform(scaleX(0));
	    @include transition(0.2s ease-in);
		left: 0;
		right: 0;
		margin: 0 auto;
    }
    &:hover {
    	&:before {
    		@include transform(scaleX(1));
    	}
    }
}
.btn-read-green {
    display: inline-block;
    padding:{bottom:5px;}
    margin:{top:20px;right:0;bottom:5px;left:0;} 
    text:{transform: uppercase;decoration: none;align:center;}
    outline: none;  
    display: inline-block;
    position: relative;
    a {
    	font:{weight:bold;size: 0.75em;}
    	color:$green-logo;
    }
    &:before {
    	content: '';
	    position: absolute;
	    width: 100%;
	    height: 0px;
	    border-bottom: 2px solid $green-logo;
	    bottom: 1px;
	    @include transform(scaleX(0));
	    @include transition(0.2s ease-in);
		left: 0;
		right: 0;
		margin: 0 auto;
    }
    &:hover {
    	&:before {
    		@include transform(scaleX(1));
    	}
    }
}
