.header {
	@include span-columns(12);
	@include omega();
	color:$gray_1; 
	height:75px;
	@include media($tabletLand) {
		@include outer-container(93%);
		margin: 0 auto !important;
		float:initial;
		height: initial;
	}
	@include media($notebook) {
		@include outer-container(80%);
		margin: 0 auto !important;
		float:initial;
		height: initial;
	} 
	.menu-header {
		@include span-columns(12);
		@include pad(10px);
		@include omega();
		position: absolute;
		background: $white;
		@include media($tablet) {
			@include pad(10px);
		}
		@include media($tabletLand) {
			position: relative;
			padding: {top:20px; bottom:10px;}
		}
		@include media($notebook) {
			position: relative;
			padding: {top:40px; bottom:30px;}
		}
		.logotipo-mujerypunto {
			@include span-columns(4);
			@include media($mobileLand) {
				@include span-columns(2);
			}
			@include media($tablet) {
				@include span-columns(2); 
			}
			@include media($tabletLand) {
				@include outer-container(20%);
				margin:0 auto !important;
				float: none;
			}
			@include media($notebook) {
				@include outer-container(15%);
				margin:0 auto !important;
				float: none;
			}
			img {
				width: 100%;
				height: auto;
				display: block;
			}
			h1 {
				margin:0;
			}
		}
		.icon-menu {
			@include span-columns(2);
			float: right;
			height: 45px;
			display: table;
			text:{align:center;}
			z-index: 999;
			position: absolute;
    		right: 0;
			i {
				font:{size:2em;}
				display: table-cell;
				vertical-align: middle;
			}
			@include media($tablet) {
				text:{align: right;}
				padding:{right: 10px;}
			}
			@include media($tabletLand) {
				display: none;
			}
			@include media($notebook) {
				display: none;
			}
			&.icon-white {
				color:$white;
			}
		}
	}
	.navigation-header {
		@include span-columns(12);
		display: none;
		border-top:1px solid $gray;
		border-bottom:1px solid $gray;
		padding:12px 0;
		@include media($tabletLand) {
			display: block;
		}
		@include media($notebook) {
			display: block;
		}
		.menu-header {
			@include span-columns(9);
			@include pad(0);
			@include omega();
			ul {
				@include span-columns(12);
				@include pad(0);
				margin:0;
				li {
					list-style:none;
					display: inline-block;
					font:{family:$primary_font;weight:700;size:0.9em;}
					text:{transform:uppercase;}
					margin:{right:20px;}
					@include media($tabletLand) {
						font-size: 0.8em;
						margin:{right:20px;}
					}
					@include media($notebook) {
						font-size: 0.8em;
						margin:{right:20px;}
					}
					@include media($desktop) {
						font-size: 0.8em;
						margin:{right:30px;}
					}
					a {
    					@include transition(all 0.3s ease-in-out);
    					&:hover {
	    					color:$green-logo;
	    				}
    				}
    				&.menu-item-has-children {
    					position: relative;
    					.sub-menu {
    						display: none;
							background: #fff;
							top: 30px;
    						position: relative;
							@include media($tabletLand) {
								position: absolute;
								z-index: 9999;
								top: 15px;
								width: 200px;
							}
							@include media($notebook) { 
								position: absolute;
								z-index: 9999;
								top: 16px;
								width: 200px;
							}
							@include media($desktop) { 
								position: absolute;
								z-index: 9999;
								top: 15px;
								width: 200px;
							}  
							li {
								@include span-columns(12);
								margin:{bottom:5px;right:0;}
								padding:{left:30px;} 
								@include media($tabletLand) {
									font:{size:1em;}
									padding: 10px;
								} 
								@include media($notebook) {
									padding: 10px;
    								font:{size: 1.1em;}
								}
							}
    					}   
    					&:hover {
    						.sub-menu {
	    						display: block;
	    					}
    					}
    				}
				}
			}	
		}
		.rrss-myp {
			@include span-columns(3);
			@include pad(0);
			float: right;
			text:{align:right;}
			ul {
				@include span-columns(12);
				@include pad(0);
				margin:0;
				li {
					list-style:none;
					display: inline-block;
					font:{size: 1em;}
    				margin:{right: 15px;}
    				@include media($tabletLand) {
    					font-size: 0.9em;
    					margin:{right: 10px;}
    				}
    				@include media($desktop) {
    					font-size: 1.2em;
    				}
    				&:last-child {
    					border-left: 1px solid $gray;
    					padding: {left:10px;}
    				}
    				a {
    					@include transition(all 0.3s ease-in-out);
    					&:hover {
	    					color:$green-logo;
	    				}
    				}
				}
			}
		}
	}	
}
.menu-mobile-open {
	@include span-columns(8);
	@include omega();
	@include pad(20px 10px);
	float: right;
	background: $white;
	height: 100%;
	position: absolute;
	right: 0;
	z-index: 1;
	text:{align:right;}
	color:$gray_1; 
	overflow: scroll;
	@include media($mobileLand) {
		@include span-columns(5);
	}
	@include media($tablet) {
		@include span-columns(4.5);
	}
	.logotipo-mujerypunto {
		@include span-columns(4);
		@include media($notebook) {
			@include outer-container(15%);
			margin:0 auto !important;
			float: none;
		}
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	.icon-search-menu {
		@include span-columns(2);
		float: right;
		height: 42px;
		display: table;
		text:{align:center;}
		z-index: 999;
		position: absolute;
		right: 0;
		i {
			font:{size:1.7em;}
			display: table-cell;
			vertical-align: middle;
		}
	}
	.menu-header-mobile {
		@include span-columns(12);
		@include pad(0);
		margin:{top:40px;right:0;}
		ul {
			@include span-columns(12);
			@include pad(0);
			margin:0;
			text:{align:left;}
			li {
				list-style:none;
				font:{family:$primary_font;weight:700;size:1em;}
				text:{transform:uppercase;}
				margin:{bottom:20px;}
				border-bottom:1px solid $gray;
				padding:{bottom:10px;}
				.sub-menu{
					top: 30px;
    				position: relative;
					li {
						padding:{left:20px;}
					} 
				}
			}
		}
	}
	@include media($notebook) {
		display: none;
	}
}