.home-section {
	@include span-columns(12);
	@include omega();
	.swiper-container {
       @include span-columns(12);
		@include omega();
        height: 100%;
        .swiper-wrapper {
	        .swiper-slide {
				margin:0 !important;
		        text:{align: center;}
		        font:{size: 18px;}
		        background: #fff;
		        display: -webkit-box;
		        display: -ms-flexbox;
		        display: -webkit-flex;
		        display: flex;
		        -webkit-box-pack: center;
		        -ms-flex-pack: center;
		        -webkit-justify-content: center;
		        justify-content: center;
		        -webkit-box-align: center;
		        -ms-flex-align: center;
		        -webkit-align-items: center;
		        align-items: center;
		        .post {
		        	@include span-columns(12);
		        	@include omega();
			        .imagen-post {
			        	@include span-columns(12);
			        	@include omega();
			        	height: 400px;
			        	background-position:center;
			        	background-size:cover;
			        	position: relative;
			        	@include media($mobileLand) {
			        		height: 300px;
			        	}
			        	@include media($tablet) {
			        		height: 300px;
			        	}
			        	@include media($tabletLand) {
			        		height: 300px;
			        	}
			        	@include media($notebook) {
			        		height: 300px;
			        	}
			        	@include media($desktop) {
							height: 500px;
						}
			        	.content-post-all {
			        		@include span-columns(12);
			        		@include omega();
			        		text:{align:center;}
			        		position: absolute;
							top:0;
							left:0;
							height: 100%;
							z-index: 10;
							padding: 30px;
    						box-sizing: border-box;
    						display: table;
    						@include media($tablet) {
    							padding: 10px;
    						}
    						@include media($tabletLand) {
    							padding: 30px 20px;
    						}
    						.post-inside {
								display: table-cell;
								vertical-align: middle;
								.category {
									@include span-columns(12);
									@include omega();
									font:{family:$primary_font;weight:bold;size:0.8em;}
									display: inline-block;
									text:{transform:uppercase;}
									color:$white;
									@include media($mobileLand) {
										font:{size:0.6em;}
									}
									@include media($tablet) {
										font:{size:0.7em;}
									}
									@include media($tabletLand) {
										font:{size:0.6em;}
									}
									@include media($notebook) {
										font:{size:0.6em;}
									}
									@include media($desktop) {
										font:{size:0.8em;}
									}
								}
								h2 {
									@include span-columns(12);
									@include omega();
									margin:{top:5px;bottom:10px;}
									color:$white;
									font:{size:1.5em;}
									line-height: 38px;
									font:{family:$regular_font;}
									@include media($mobileLand) {
										font:{size: 0.9em;}
										line-height: 24px;
									}
									@include media($tablet) {
										font:{size: 1em;}
    									line-height: 27px;
									}
									@include media($tabletLand) {
										font:{size: 1em;}
										line-height: 29px;
									}
									@include media($notebook) {
										font:{size:1.2em;}
										line-height: 32px;
									}
									@include media($desktop) {
										font-size: 1.4em;
    									line-height: 37px;
									}
								}
								.date {
									@include span-columns(12);
									@include omega();
									color:$white;
									font:{family:$regular_font;style:italic;size:0.7em;}
								}	
								.btn-read-more {
									font:{family:$second_font;}
									@include media($mobileLand) {
										padding: 0;
									}
									@include media($tablet) {
										padding: 0;
									}
									@include media($tabletLand) {
										margin:{top:0;}
									}
									@include media($notebook) {
										margin:{top:0;}
									}
									@include media($notebook) {
										margin:{top:20px;}
									}
									a {
										@include media($mobileLand) {
	    									font:{size: 0.6em;}
										}
										@include media($tablet) {
	    									font:{size: 0.6em;}
										}
										@include media($tabletLand) {
											font:{size:0.6em;;}
										}
										@include media($notebook) {
											font:{size:0.6em;;}
										}
										@include media($desktop) {
											font:{size:0.75em;;}
										}
									}
								}
    						}
			        	}
			        	.bg-contentpost {
			        		@include span-columns(12);
			        		@include omega();
			        		position: absolute;
							top:0;
							left:0;
							height: 100%;
							background:$green-logo;
							z-index: 1;
							opacity: 0.7;
							@include media($notebook) {
								opacity: 0;
							}
			        	}
			        	&:hover  {
			        		.bg-contentpost {
			        			@include transition(all 0.5s ease-in-out);
			        			opacity: 0.8;
			        		}	
			        	}
			        }	
		        }
		    }	
        }
       .swiper-pagination {
	    	@include span-columns(12);
			@include omega();
			text:{align:center;}
			height: 20px;
			bottom:0;
			.swiper-pagination-bullet {
				&.swiper-pagination-bullet-active {
					background:$green-logo;
				}
			}
	    }
    }
}