.header-page {
	@include span-columns(12);
	@include omega();
	padding:10px 0;
	@include media($tabletLand) {
		padding:30px 0;
	}
	@include media($notebook) {
		padding:30px 0;
	}
	.title-bg {
		margin:{bottom:0;}
		.title-section {
			margin:{bottom:0;}
		}
	}
	.categoria-title {
		text:{align:center;transform:uppercase;}
		font:{family:$second_font;weight:bold;size: 0.8em;}
		color:$green_logo; 
	}
}
.content-page {
	@include media($tabletLand) {
		margin:{top:0;bottom:30px;}
	}
	@include media($notebook) {
		margin:{bottom:30px;}
	}
	.post-grid {
		@include span-columns(12);
		margin: {bottom:10px;right:0 !important;left:0;}
		display: inline-block; 
		@include media($tabletLand) {
			margin: {bottom:10px;right:8px !important;left:8px;}
			@include span-columns(5.8);
			display: inline-block;
		}
		@include media($notebook) {
			margin: {bottom:10px;right:8px !important;left:8px;}
			@include span-columns(5.8);
			display: inline-block;
		}
		.imagen-post {
			@include media($tabletLand) {
				height: 250px;
			}
			background-position:center;
			background-size:cover;
			height: 300px;
			@include media($desktop) {
				height: 400px;
			}	
		}
		.date-post {
			margin:{top:10px;}
		}
		.title-post {
			font:{size: 1.2em;}
    		line-height: 27px;
    		@include media($tabletLand) {
    			font-size: 1em;
    			line-height: 23px;
    		}
    		@include media($notebook) {
    			font-size: 1em;
    			line-height: 23px;
    		}
    		@include media($desktop) {
    			font:{size:1.3em;}
    			line-height: 31px;
    		}
		}
		.btn-read-green {
			margin:{top:5px;}
		}
	}
}