.search-section {
	@include span-columns(12);
	@include omega();
	display:none;
	.search-content {
		@include span-columns(12);
		@include omega();
		position: absolute;
		z-index: 99999999;
		position: fixed;
		height: 100%;
		display: table;
		.search {
			display: table-cell;
			vertical-align: middle;
			.search-content {
				@include outer-container(90%);
				position: fixed;
				left: 0;
				right: 0;
				@include media($notebook) {
					@include outer-container(80%);
				}
				.cerrar-search {
					cursor: pointer;
					float: right;
					font:{style:italic;}
				}
			}
			.search-input {
				@include span-columns(12);
				@include omega();
				border:0;
				border-bottom:1px solid $black;
				outline: none;
				color:$black;
				background:none;
				font:{size:1em;family:$regular_font;}
				padding: 10px 0;
				@include placeholder {
					color:$gray_2;
					font:{style:italic;}
				}
				@include media($notebook) {
					font:{size:1.2em;}
				}
			}
		}
	}
	.search-bg {
		@include span-columns(12);
		@include omega();
		position: fixed;
		z-index: 99999990;
		height: 100%;
		background: $white;
		opacity: 0.9;
	}
	&.show-search {
		@include transition(all 0.3s ease-in-out);
		display: block;	
	}
}