.section-three {
	@include span-columns(12);
	@include omega();
	@include pad(0); 
	.post-sect-three {
		@include span-columns(12);
		margin:{bottom:10px;}
		@include media($mobileLand) {
			@include span-columns(6);
            @include omega(2n);
			margin:{bottom:15px;right:7px;}
			float: inherit;
		}
		@include media($tabletLand) {
			@include span-columns(6);
            @include omega(2n);
			margin:{bottom:15px;right:7px;}
			float: inherit;
		}
		@include media($notebook) {
			@include span-columns(6);
            @include omega(2n);
			margin:{bottom:15px;right:7px;}
			float: inherit;
		}
		@include media($desktop) {
			margin:{bottom:15px;right:12px;}
            @include omega(2n);
		}
		.imagen-post {
			@include span-columns(12);
			@include omega();
			height: 350px;
			background-position:center;
			background-size:cover; 
			@include media($mobileLand) {
				height: 150px;
			}
			@include media($tablet) {
				height: 200px;
			} 
			@include media($tabletLand) {
				height: 250px;
			}
			@include media($notebook) {
				height: 250px;
			}
			@include media($desktop) {
				height: 350px;
			}
		}
		.content-post {
			@include span-columns(12);
			@include omega();
			padding: {top:10px; bottom:0px;}
			@include media($tabletLand) {
				padding: {top:10px;}
			}
			@include media($notebook) {
				padding: {top:10px;}
			}	
			.post-inside {
				@include span-columns(12);
				@include omega();
				@include media($tabletLand) {
					display: table-cell;
					vertical-align: middle;
					float: none;
					.category-post {
						display: none;
					}	
					.title-post {
						margin:{top:0;}
						font:{size: 1em;}
    					line-height: 24px;
					}
					.date-post {
						display: none;
					}
				}
				@include media($notebook) {
					display: table-cell;
					vertical-align: middle;
					float: none;
					.category-post {
						display: none;
					}	
					.title-post {
						margin:{top:0;}
						font:{size: 1em;}
						line-height: 24px; 
					}
					.date-post {
						display: none;
					}
				}	
				.category-post {
					margin:{bottom:4px;}
				}
				.title-post {
					margin:{bottom: 8px;}
				}			
				.btn-read-green {
					margin:{top:0;}
				}
			}
		}
	} 
}