.section-two {
	@include span-columns(12);
	@include omega();
	@include pad(0); 
	.post-sect-two {
		@include span-columns(12);
		@include omega();
		margin:{bottom:10px;}
		@include media($tabletLand) {
			@include span-columns(4);
			margin:{bottom:15px;}
		}
		@include media($notebook) {
			@include span-columns(4);
			margin:{bottom:15px;}
		}
		.imagen-post {
			@include span-columns(12);
			@include omega();
			height: 350px;
			background-position:center;
			background-size:cover; 
			@include media($tabletLand) {
				height: 150px;
			}
			@include media($notebook) {
				height: 150px;
			}
		}
		.content-post {
			@include span-columns(12);
			@include omega();
			padding: {top:10px; bottom:0px;}
			@include media($tabletLand) {
				padding: {top:10px;}
			}
			@include media($notebook) {
				padding: {top:10px;}
			}	
			.post-inside {
				@include span-columns(12);
				@include omega();
				@include media($tabletLand) {
					display: table-cell;
					vertical-align: middle;
					float: none;
					.category-post {
						display: none;
					}	
					.title-post {
						margin:{top:0;}
					}
					.date-post {
						display: none;
					}
				}
				@include media($notebook) {
					display: table-cell;
					vertical-align: middle;
					float: none;
					.category-post {
						display: none;
					}	
					.title-post {
						margin:{top:0;}
					}
					.date-post {
						display: none;
					}
				}	
				.category-post {
					margin:{bottom:4px;}
				}
				.title-post {
					margin:{bottom: 8px;}
				}			
				.btn-read-green {
					margin:{top:0;}
				} 
			}
		}
	} 
}