.section-five {
	@include span-columns(12);
	@include omega();
	@include pad(0); 
	.post-sect-five {
		@include span-columns(12);
		@include omega();
		margin:{bottom:10px;}
		@include media($mobileLand) {
			@include span-columns(5.5);
		}
		@include media($tabletLand) {
			@include span-columns(6);
			@include omega();
		}
		@include media($notebook) {
			@include span-columns(6);
			@include omega();
		}
		.imagen-contentpost {
			height: 350px;
			@include media($mobileLand) {
				height: 150px;
			}
			@include media($tablet) {
				height: 200px;
			}
			@include media($tabletLand) {
				@include span-columns(4);
				@include omega();
				height: 120px;
			}
			@include media($notebook) {
				@include span-columns(4);
				@include omega();
				height: 120px;
			}
			@include media($desktop) {
				@include span-columns(4);
				@include omega();
				height: 150px;
			}
			.imagen-post {
				@include span-columns(12);
				@include omega();
				background-position:center;
				background-size:cover; 
			}	
		}	
		.content-post {
			@include span-columns(12);
			@include omega();
			padding: {top:10px; bottom:0px;}
			@include media($tabletLand) {
				@include span-columns(8);
				@include omega();
				height: 120px;
				display: table;
			}
			@include media($notebook) {
				@include span-columns(8);
				@include omega();
				height: 120px;
				display: table;
			}
			@include media($desktop) {
				@include span-columns(8);
				@include omega();
				height: 150px;
				padding: {top:10px;}
				display: table;
			}	
			.post-inside {
				@include span-columns(12);
				@include omega();
				@include media($tabletLand) {
					display: table-cell;
					vertical-align: middle;
					float: none;
					padding:{left:10px;}
				}
				@include media($notebook) {
					display: table-cell;
					vertical-align: middle;
					float: none;
					padding:{left:10px;}
				}	
				.date-post {
					display: none;
				}
				.category-post {
					display: none;
				}
				.title-post {
					margin:{bottom: 2px;}
				}			
				.btn-read-green {
					margin:{top:0;}
				}
			}
		}
		&:first-child {
			@include media($tabletLand) {
			@include span-columns(6);
			margin:{right:10px;}
				.imagen-contentpost {
					@include span-columns(12);
					@include omega();
					height: 250px;
					.imagen-post {
						@include span-columns(12);
						@include omega();
					}	
				}	
				.content-post {
					@include span-columns(12);
					@include omega();
					.post-inside {
						@include span-columns(12);
						@include omega();
						padding:10px 0;
						.title-post {
						}
						.date-post {
							display: block;
						}
						.category-post {
							display: block;
						}	
					}
				}	
			}
			@include media($notebook) {
			@include span-columns(6);
			margin:{right:10px;}
				.imagen-contentpost {
					@include span-columns(12);
					@include omega();
					height: 250px;
					.imagen-post {
						@include span-columns(12);
						@include omega();
					}	
				}	
				.content-post {
					@include span-columns(12);
					@include omega();
					.post-inside {
						@include span-columns(12);
						@include omega();
						padding:10px 0;
						.title-post {
							font-size: 1.2em;
							line-height: 26px;
						}
						.date-post {
							display: block;
						}
						.category-post {
							display: block;
						}	
					}
				}	
			}
			@include media($desktop) {
				.imagen-contentpost {
					height: 300px;
					.imagen-post {
						@include span-columns(12);
						@include omega();
					}	
				}
			}	
		}
	}  
}