.section-one {
	@include span-columns(12);
	@include omega();
	@include pad(0); 
	.post-sect-one {
		@include span-columns(12);
		@include omega();
		margin:{bottom:10px;}
		@include media($notebook) {
			@include span-columns(4);
			margin:{bottom:15px;}
		}
		.imagen-contentpost {
			height: 150px;
		}
		.content-post {
			@include span-columns(12);
			@include omega();
			padding: {top:10px; bottom:0px;}
			@include media($notebook) {
				padding: {top:10px;}
			}	
			.post-inside {
				@include span-columns(12);
				@include omega();
				@include media($notebook) {
					display: table-cell;
					vertical-align: middle;
					float: none;
					.category-post {
						display: none;
					}	
					.title-post {
						margin:{top:0;}
					}
					.date-post {
						display: none;
					}
				}	
				.category-post {
					margin:{bottom:4px;}
				}
				.title-post {
					margin:{bottom:8px;}
				}			
				.btn-read-green {
					margin:{top:0;}
					a {
						@include media($notebook) {
							font-size: 0.65em;
						}	
					}
				}
			}
		}
		&:first-child {
			@include media($notebook) {
				@include span-columns(12);
				@include omega();
				.imagen-contentpost {
					@include span-columns(6);
					@include omega();
					height: 350px;
					@include media($notebook) {
						height: 250px;
					}
					@include media($desktop) {
						height: 350px;
					}
					.imagen-post {
						@include span-columns(12);
						@include omega();
						height: inherit;
					}
				}	
				.content-post {
					@include span-columns(5);
					@include omega();
					height: 250px;
					display: table;
					.post-inside {
						display: table-cell;
						vertical-align: middle;
						padding:10px;
						.category-post {
							display: block;
						}
						.title-post {
							margin:{bottom: 10px;}
							@include media($notebook) {
								font:{size: 1.2em;}
    							line-height: 27px;
							}
							@include media($desktop) {
								font-size: 1.6em;
    							line-height: 33px;
							}
						}
						.date-post {
							display: block;
						}
					}	
				}	
			}
			@include media($desktop) {
				.imagen-post {
					@include span-columns(7);
					@include omega();
					height: 350px;
				}
				.content-post {
					height: 350px;
					.title-post {
						font:{size: 2.5em;}
						line-height: 34px;
					}
				}
			}
		}
	} 
}