.sidebar {
	@include span-columns(12);
	@include omega();
	margin:{top:20px;}
	@include media($mobileLand) {
		display: none;
	} 
	@include media($tablet) {
		@include span-columns(5);
		@include omega();
		float:right;
		margin:{top:40px;}
	}
	@include media($tabletLand) {
		@include span-columns(4);
		@include omega();
		float:right;
		margin:{top:40px;}
	}
	@include media($notebook) {
		@include span-columns(4);
		@include omega();
		float:right;
		margin:{top:40px;}
	}
	@include media($desktop) {
		@include span-columns(3);
		@include omega();
		float:right;
	}
	.sidebar-content {
		@include span-columns(12);
		@include omega();
		.facebook-sidebar {
			@include span-columns(12);
			margin:{bottom:40px;right:0;}
			@include media($mobileLand) {
				@include span-columns(5.8); 
				@include omega();
				display: inline-block;
			}
			.fb-page {
				@include span-columns(12);
				@include omega();
				text-align: center;
			}
		}
		.title-sidebar {
			text:{align:center}; 
			font:{family:$regular_font;size: 1.2em;style: italic;}
    		margin: {top:-11px!important;left:auto;bottom:0;right:auto;}
    		position: initial;
    		background: $white;
    		display: table;
    		padding: 0 10px;
    		color:$gray_1;
		}	
		.box-sidebar {
			@include span-columns(12);
			@include omega();
			border:1px solid $gray_3;
			padding: {top:0; bottom:10px;left:20px;right:20px;}
			margin:{bottom:35px;}
			@include media($mobileLand) {
				@include span-columns(5.8); 
				display: inline-block;
				margin:{right:10px;bottom:0;}
			}
			.content-sidebar {
				@include span-columns(12);
				@include omega();
				overflow: hidden;
				.post-sidebar {
					@include span-columns(12);
					@include omega();
					border-bottom:1px solid $gray_3;
					margin:{top:10px;}
					padding:{bottom:10px;}
					.imagen-contentpost { 
						@include span-columns(4);
						@include omega();
						height: 80px;
						a {
							.imagen-post {
								background-position:center;
								background-size:cover; 
								@include transition(all 1s ease);
								&:hover {
									@include transform(scale(1.2));
									-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
									filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
								}	
							}
						}
					}
					.content-post {
						@include span-columns(8);
						@include omega();
						padding:{left:5px;}
						.post-inside {
							padding: {top:4px;}
							.title-post {
								color:$gray_1;
								font:{size: 0.8em;}
								line-height: 18px;
							}
							.btn-read-green {
								margin:{top:4px;}
								font:{size:0.8em;}
							}	
						}
						
					}
					&:last-child {
						border:0;
					}
				}
			}
			&.imperdibles-sidebar {
				.content-sidebar {
					.post-sidebar {
						.imagen-contentpost { 
							@include span-columns(12);
							@include omega();
							height: 150px;
							a {
								.imagen-post {
									background-position:center;
									background-size:cover; 
									@include transition(all 1s ease);
									&:hover {
										@include transform(scale(1.2));
										-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
										filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
									}	
								}
							}
						}
						.content-post {
							@include span-columns(12);
							@include omega();
						}		
					}			
				}	
			}
			&.instagram {
				.list-instagram {
					@include span-columns(12);
					@include omega();
					margin:30px 0;
					@include media($mobileLand) {
						@include span-columns(6); 
						display: inline-block;
						margin:{right:10px;}
					}
					ul {
						@include span-columns(12);
						margin:0;
						padding:0;
						text:{align:center;}
						li {
							@include span-columns(3.8);
							margin:{right:5px !important;bottom:5px;}
							float: none;
    						display: inline-block;
							.image-instagram {
								@include span-columns(12);
								@include omega();
								height: 90px;
								background-position:center;
								background-size:120%;
							}
						}
					}
				}
			}
		}
	}
}