.tags-content {
	@include span-columns(12);
	@include omega();
	@include media($tabletLand) {
		@include span-columns(3.8);
		margin:{bottom:10px;right:10px;}
	}
	@include media($notebook) {
		@include span-columns(4);
		margin:{bottom:10px;right:10px;}
	}
	article {
		@include span-columns(12);
		@include omega();
		.imagen-post {
			@include span-columns(12);
			@include omega();
			height: 250px;
			@include media($tabletLand) {
				height: 150px;
			}
			@include media($notebook) {
				height: 150px;
			}
			@include media($desktop) {
				height: 250px;
			}
		}
		.content-post {
			@include span-columns(12);
			@include omega();
			margin:{top:10px;}
			.post-inside {
				.category-post {
					@include media($tabletLand) {
						font-size: 0.6em;
					}
					@include media($notebook) {
						font-size: 0.6em;
					}
				}
				.date-post {
					margin:{top:5px;}
				}
				.title-post {
				}
				.btn-read-green {
					margin:{top:5px;}
				}	
			}
		}
	}
}