//COLOR
$white: #FFF;
$black: #000;
$gray: #eeeeee;
$green-logo: #05b498; /* #03C9A9 */

$gray_1: #7c7c7c;
$gray_2: #282828;
$gray_3: #d2d1d1;

//SECTION COLORS

$color_1:#E74C3C;
$color_2:#59ABE3;
$color_3:#9B59B6;
$color_4:#F27935;
$color_5:#4ECDC4;
$color_6:#F64747; 

$regular_font:'Libre Baskerville', serif;
$primary_font:'Oswald', sans-serif;
$second_font:'Open Sans', sans-serif;;

//RESPONSIVE WIDTH
$mobile:(max-width em(320));
$mobileLand:(min-width em(480) max-width em(690));
$tablet:(min-width em(768) max-width em(1023));
$tabletLand:(min-width em(1024) max-width em(1279));
$notebook:(min-width em(1024));
$notebookLand:(min-width em(1281) max-width em(1439));
$desktop:(min-width em(1440));

$mobileTomobileLand: (min-width em(320) max-width em(640));
$mobileLandTotablet: (min-width em(480) max-width em(1024));
$tabletLandTonotebook: (min-width em(1024) max-width em(1440));
$notebookTodesktop: (min-width em(1280) min-width em(1440));