.secction-videos {
	@include span-columns(12);
	@include omega();
	.post-video-principal {
		@include span-columns(12);
		margin:{bottom:10px;}
		@include media($tabletLand) {
			@include span-columns(5.8);
			margin:{right:10px;}
		}
		@include media($notebook) {
			@include span-columns(5.8);
			margin:{right:10px;}
		}
		.embeVideo {
			@include span-columns(12);
			height: 280px; 
			margin:{bottom:0;right:0;}
			@include media($tablet) {
				height: 420px;
			}
			@include media($notebook) {
				height:300px; 
			}
			@include media($desktop) {
				height: 430px;
			}
		}
		.content-post {
			@include span-columns(12);
			.video-info {
				color:$gray_1;
				font:{size:0.8em;}
				@include span-columns(6);
				@include omega();
			}
			.social-share {
				text:{align:right;}
				@include span-columns(6);
				@include omega();
			}
			.titulo-principal {
				@include media($tabletLand) {
					font:{size: 1.5em;}
    				line-height: 33px;
				}	
			}
		}
		&:first-child {
			@include media($tabletLand) {
				@include span-columns(6);
				@include omega();
			}
			@include media($notebook) {
				@include span-columns(6);
				@include omega();
			}
		}
	} 
	.post-list {
		@include span-columns(12);
		@include media($tabletLand) {
			@include span-columns(5.8);
			@include omega();
		}
		@include media($notebook) {
			@include span-columns(5.8);
			@include omega();
		}
		.post-video {
			@include span-columns(12);
			margin:{bottom:0px;right:0;}
			@include media($notebook) {
				margin:{bottom:10px;}
			}
			.content-img {
				@include span-columns(4);
				@include omega();
				height: 90px;
				@include media($mobileLand) {
					@include span-columns(3);
					height: 116px;
				} 
				@include media($tablet) {
					height: 195px;
				} 
				@include media($tabletLand) {
					height: 120px;
				}
				@include media($notebook) {
					height: 115px;
				}
				@include media($desktop) {
					@include span-columns(3.5);
					@include omega();
					height: 145px;
				}
				img {
					width: 100%;
					height: auto;
					display: block;
				}
			}	
			.content-post {
				@include span-columns(8);
				@include omega();
				height: 85px;
				display: table;
				padding: {left:10px;}
				@include media($tablet) {
					height: 195px;
				}
				@include media($tabletLand) {
					height: 120px;
				}
				@include media($notebook) {
					height: 115px;
				}
				@include media($desktop) {
					height: 145px;
				}
				.post-inside {
					@include span-columns(12);
					float: initial;
					@include omega();
					display: table-cell;
					vertical-align: middle;
					.video-info {
						@include span-columns(6);
						@include omega();
						color:$gray_1;
						font:{size:0.8em;} 
					}
					.social-share {
						text:{align:right;}
						@include span-columns(6);
						@include omega();
						float: right;
						font:{size:0.8em;}
						@include media($tablet) {
							font:{size:1em;}
						}	
						@include media($notebook) {
							font:{size:1em;}
						}	
					}
					.title-post {
						@include row;
						font-size: 0.8em;
	    				line-height: 18px;
	    				@include media($tablet) {
	    					font:{size: 1.3em;}
    						line-height: 28px;
	    				}
	    				@include media($desktop) {
	    					font:{size: 1.1em;}
    						line-height: 28px;
	    				}
					} 
				}
				@include media($tabletLand) {
					padding:10px;
					.post-inside {
					}	
				}
			}		
		}
	}
}